<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Provinsi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body class="bg-dark text-white">

    {{!-- navbar --}}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><h3> Provinsi & Kabupaten</h3></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <form>
                    <a class="btn btn-outline-info" type="submit" href="/add-provinsi">Add Provinsi</a>
                </form>
                <form>
                    <a class="btn btn-outline-info" type="submit" href="/add-kabupaten">Add Kabupaten</a>
                </form>
            </div>
        </div>
    </nav>

    {{!-- navbar end--}}

    <!-- Form -->
    <form style="display: flex; flex-direction: column; align-items: center;" id="form" action="/add-provinsi"
        method="POST" enctype="multipart/form-data">
        <h1 class="text-center mt-5 mb-5">Create Provinsi</h1>

        <div style="width: 400px;">
            <div class="mb-3">
                <label for="title" class="form-label">Add Provinsi</label>
                <input type="text" class="form-control" id="title" name="provinsi">
            </div>

            <div style="width: 400px;">
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="diresmikan" name="diresmikan">
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">pulau</label>
                    <input type="text" class="form-control" id="title" name="pulau">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
    </form>
    <!-- Form End -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>